<header>
    <%if (!isAuthenticated) { %>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    <% } else { %>
        <span>Welcome, <%= user.username %>!</span>
        <form id="logout" action="/logout?_method=DELETE" method="POST" style="display: contents;">
            <a href="javascript:;" onclick="document.getElementById('logout').submit()">[Logout]</a>
        </form>
    <% } %>
</header>
