<aside>
    <div class="center">
        <img class="logo" src="img/logo.png" alt="logo">
    </div>

    <nav>
        <a href="/">Main Page</a>
        <a href="/articles">All Articles</a>
        <form action="search" method="GET">
            <input type="text" name="search">
            <input type="submit" value="Search">
        </form>
        <a href="/create">Create New Article</a>
    </nav>
</aside>