<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kingsland University - Wiki Program with Node.js Express, Mongoose, and EJS </title>
    <link rel="stylesheet" href="/css/site.css">
</head>

<body>
    <div>
        <%- include("./partials/sidebar.ejs") %>
        <div id="container">
            <%- include("./partials/header.ejs") %>
            <main>
                <h1>Welcome to KingUni Wiki!</h1>
                <%- body %> 
            </main>
            <%- include("./partials/footer.ejs") %>
        </div>
    </div>
</body>
 
</html>