* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*
    border: 1px solid black;
    */
}

a {
    text-decoration: none;
    color: #5d89a1;
}

a:hover {
    color: black;
}

body {
    text-align: center;
    padding: 40px;
}

body > div {
    text-align: left;
    display: inline-block;
    clear: both;
}

aside {
    width: 200px;
    float: left;
    padding: 20px;
}

.center {
    text-align: center;
}

.logo {
    width: 128px;
    height: 128px;
}

#container {
    float: left;
    width: 800px;
    border-left: 1px solid #5d89a1;
    border-right: 1px solid #5d89a1;
}

nav > a {
    display: block;
    margin: 10px 0px;
}

header {
    text-align: right;
    padding: 10px;
}

header a {
    margin: 0px 10px;
}

main {
    padding: 20px;
    float: left;
    width: 100%;
}

h1 {
    padding: 20px;
    background-color: #5d89a1;
    color: white;
}

h2 {
    padding: 10px 20px;
    background-color: #b6cedb;
}

h3 {
    margin-bottom: 10px;
}

section {
    padding: 20px 10px;
}

#featured {
    float: left;
    width: 100%;
}

article {
    padding: 20px;
	display: inline-block;
}

.controls {
    float: right;
    display: inline-block;
    margin: 10px 0px;
}

.controls a{
    margin-right: 10px;
}

ul {
    padding: 10px;
    list-style-type: none;
}

ul>li {
    margin: 10px 0px;
}

section::after {
    clear: both;
}

button,
input {
    display: block;
    margin: 10px 0px;
    padding: 5px;
}

.title {
    width: 100%;
}

button,
input[type=submit] {
    padding: 5px 10px;
}

label {
    display: block;
    margin-top: 20px;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 300px;
}

.spacer {
    padding: 20px;
}

h2 a {
    float: right;
    font-size: 0.75em;
}

article>p {
    margin-bottom: 20px;
}

.author {
    font-weight: bold;
}

.spacer li {
	font-size: 24px;
}

#notifications {
	width: 100%;
	margin-top: 1%;
	border-radius: 6px;
	background-color: #FA8072;
}

#notifications p {
	color: white;
	font-style: italic;
	text-align: center;
}

footer {
    clear: both;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #5d89a1;
    color: white;
}