<% if (messages) { %>
    <section id="notifications">
        <p><%= messages.error %></p>
    </section>
<% } %>

<section>
    <h2>Create new article</h2>
    <div class="spacer">
        <form action="/create" method="POST">
            <label>Article title</label>
            <input type="text" name="title" class="title" required>
            <label>Content</label>
            <textarea type="text" name="description" required></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>