<section>
    <h2>Edit article
    </h2>
    <div class="spacer">
        <form action="/edit/<%= article._id %>" method="POST">
            <label>Article title</label>
            <h3>
                <%= article.title %>
            </h3>
            <label>Content</label>
            <textarea type="text" name="description" required>
                <%= article.description %>
            </textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</section>