<section>
    <h2>All articles</h2>
    <div class="spacer">
        <ul>
            <% articles.reverse() %>
                <% articles.forEach( article=> { %>
                <li>
                    <a href="/article/<%= article._id %>"><%= article.title %></a>
                </li>
            <% }) %>
        </ul>
    </div>
</section>