<% if (messages) { %>
    <section id="notifications">
        <p><%= messages.error %></p>
    </section>
<% } %>

<div class="spacer">
    <h2><%= article.title %> 
        <div class="controls">
            <a href="/edit/<%= article._id %>">[edit]</a>
            <a href="/delete/<%= article._id %>">[delete]</a>
        </div>
    </h2>
    <article>
        <p>
            <%= article.description %>
        </p>
    </article>
</div> 