<section id="featured">
    <h2>Latests articles</h2>

    <% articles.reverse()  %> 

    <% articles.forEach( article => {  %>
        <article>
            <h3><%= article.title %> </h3>
            <p>
                <%= article.description.slice(0,350) %> &hellip;
            </p>
            <div class="controls">
                <a href="/article/<%= article._id %>">Read more</a>
            </div>
        </article>
    <% }) %> 
</section>