<% if (messages) { %>
    <section id="notifications">
        <p><%= messages.error %></p>
    </section>
<% } %>

<section>
    <h2>Login</h2>
    <div class="spacer">
        <form id="login" action="/login"  method="POST">
            <label>Username:</label>
            <input type="text" name="username" required>
            <label>Password:</label>
            <input type="password" name="password" required>
            <button type="submit" form="login" value="Login">Login</button>
        </form>
    </div>
</section>