<% if (messages) { %>
    <section id="notifications">
        <p><%= messages.error %></p>
    </section>
<% } %>

<section>
    <h2>Register</h2>
    <div class="spacer">
        <form id="register" action="/register"  method="POST">
            <label>Username:</label>
            <input type="text" name="username" required>
            <label>Password:</label>
            <input type="password" name="password" required>
            <label>Repeat password:</label>
            <input type="password" name="confirmation" required>
            <button type="submit" form="register" value="Register">Login</button>
        </form>
    </div>
</section>