<section>
    <h2>Search results for: <%= data[0].title %>
    </h2>
    <div class="spacer">
        <ul>
            <% for(var i=0;i< data.length;i++) { %>
                <li>
                    <a href="/article/<%= data._id %>"><%= data[i].title %> </a>
                </li>
            <% } %>
        </ul>
    </div>
</section>